{% extends "main.html.twig" %}

{% block header %}
<h1>Hallo Nesta</h1>
{% endblock %}

            <!--Geen idee wat ik hier mee moet
                <ul class="ingredients">
                    {% for ingr in record.ingredients %}
                        <li>
                            <span {% if ingr.id < 2 %}style="color:#F00"{% endif %}>
                                {{ ingr.name }}
                            </span>

                            {% if ingr.id == 3 %}
                                <strong>Dit is ID 3!</strong>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>-->