<html lang="nl">
<head>

    <title>het is verrukkuluk! :: {{ TITEL }} </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/fontawesome.css" />

    <link rel="stylesheet" type="text/css" href="assets/css/main.css" />

    <script type="text/javascript" language="javascript" src="assets/jquery/jquery-3.5.1.js"></script>
    <script type="text/javascript" language="javascript" src="assets/bootstrap/js/bootstrap.bundle.js"></script>

</head>

<body>
<div class="container-fluid">

<!--Bovenste Rij -->

    <div class="row">
        <div class="col-md-12">
        {% block header %}
    
        {% endblock %}   
        </div>
    </div>

<!-- AGENDA BLOK -->
   <div class="row">
        <div class="col-md-3">

    {% set agenda = [
        { titel: 'Vegetarisch koken', omschrijving: 'Een workshop vegetarisch koken, onder leiding van Nesta Schuler' },
        { titel: 'Vegetarisch koken', omschrijving: 'Een workshop vegetarisch koken, onder leiding van Nesta Schuler' },
        { titel: 'Vegetarisch koken', omschrijving: 'Een workshop vegetarisch koken, onder leiding van Nesta Schuler' },
        { titel: 'Vegetarisch koken', omschrijving: 'Een workshop vegetarisch koken, onder leiding van Nesta Schuler' },
        { titel: 'Vegetarisch koken', omschrijving: 'Een workshop vegetarisch koken, onder leiding van Nesta Schuler' }
        ] %}

<div class="agenda-block">  
    <img src="assets/img/verrukkulluk-agenda.png" alt="Agenda Icon" class="agenda-top-icon mb-3">

    {% for item in agenda %}
        <div class="agenda-item">
            <div class="icon-calendar"><i class="fa fa-calendar"></i></div>

            <div class="agenda-content">
                <h3>{{ item.titel }}</h3>
                <p>{{ item.omschrijving }}</p>
            </div>
        </div>
    {% endfor %}

</div>

<!--Login Block -->

<div class= "login-block">
    <img src="assets/img/verrukkulluk-login.png" alt="login" class ="login-logo"
<form>
    <input type="email" placeholder="Email" class="form-control mb-2">
    <input type="password"placeholder="Wachtwoord"class="form-control mb-2">
    <button type="submit" class="login-btn">Login</button>
</form>
  </div>

<!--Content -->

</div>

      </div>
        <div class="col-md-9">
            <h2>Hier komt de homepage met de 4 recepten etc.</h2>
            {%  block content %}
            {%  endblock %}
        </div>
    </div> 

<!--Footer-->

    <div class="row">
        <div class="col-md-12">
            <div class="footer">
            <div class="footer-content">
            <img src="assets\img\verrukkulluk-pay-off.png" class= "footer-icon">

            <div class="footer-text"> 
            <h1>Contact</h1>
            <p>Verrukkulluk.nl<br>
                Poststraat 2b<br>
                Sittard<br>
                info@verrukkulluk.nl
            </p>
        </div>
    </div>


</div>

</body>
